.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: #222222;
    color: white;
    z-index: 100;
    top: 0;
}
.header__left{
    left: 10px;
    display: flex;
    margin: 2px 0;
    padding: 10px 20px;
}


.header__left .header__title > h2{
    font-size: 40px;
    font-weight: 800;
    cursor: pointer;
}

.header__center{
    display: flex;
}

.header__center .header__options {
    padding: 10px 20px;

}

.header__center .header__options:hover {
    border-bottom: 2px solid #2e81f4 ;
    transition: ease-in;
    transition-delay: 0.2s;
}
.header__right{
    display: flex;
}

.header__options{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding:  10px;
    
}


.header__options > a{ 
    text-decoration: none;
    color: white;
}

.header__options > a:hover{
    color:  aquamarine
}
