.hello {
  padding-top: 150px;
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
}

.hello__left{
    padding-top: 100px;
}

.hello__left > h3{
    font-weight: bolder;
    font-size:30px
}

.hello__left > h1{
    color: #2E004D;
    font-weight: bolder;
    padding: 10px 0;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hello__left > footer{
    color:#606060;

}

.hello__right > img {
  border-radius: 50%;
  height: 350px;
  width: 350px;
  margin-right: 50px;
}
