.project{
    display: flex;
    flex-direction: column;
    background-color:#f2f2f2;
}

.project__title{
    text-align: center;
}
.project__title > h1{
    padding: 20px;
    padding-top: 50px;
    font-size:60px;
    color:#604083;
    font-family: 'Courier New', Courier, monospace;
    background-color:  #C8D3D5;
    border-radius: 0 0 40px 40px;

}

.project__cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}